server:
  port: ${SERVER_PORT:8082}

spring:
  application:
    name: programa-service
  main:
    allow-bean-definition-overriding: true
  
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false
    show-sql: false

  config:
    import: "optional:configserver:${ENV_CONFIG_SERVER_URL:http://config-server:8888}"
    profile: ${ENV_SPRING_PROFILE:dev}